@import "tailwindcss";

html {
  font-family: var(--font-amarante);
}

h1, h2, h3, h4, p, a {
  letter-spacing: 1px;
}

.slider-wrapper .custom-swiper-slider .swiper-button-prev,
.slider-wrapper .custom-swiper-slider .swiper-button-next {
  background: #0C0A09;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  top: 47%;
}

.slider-wrapper .custom-swiper-slider .swiper-button-prev:hover,
.slider-wrapper .custom-swiper-slider .swiper-button-next:hover {
  background: #881337;
}

.slider-wrapper .custom-swiper-slider .swiper-button-prev::after {
  content: url(../assets/slide-prev-48.png);
  height: 48px;
  width: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-wrapper .custom-swiper-slider .swiper-button-next::after {
  content: url(../assets/slide-next-48.png);
  height: 48px;
  width: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-wrapper .custom-swiper-slider .swiper-wrapper .swiper-slide p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 8px;
  color: #2B2B22;
}

.tour-page-main p.tour-introduction,
.tour-page-main .tour-description p,
.tour-page-main .tour-details p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #1e293b;
}

.tour-page-main .tour-description h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #082f49;
}

.tour-page-main .tour-description ul,
.tour-page-main .tour-details ul {
  list-style: disc;
  padding-left: 20px;
}

.contact-us-main .contact-us-description h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #0C4A6E;
}

.contact-us-main .contact-us-description p {
  font-size: 18px;
  margin-bottom: 16px;
}

.contact-us-main .contact-us-description ul {
  list-style: square;
  padding-left: 20px;
}

@media (max-width: 1440px) {
  .contact-us-main .contact-us-description h2 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .tour-page-main p.tour-introduction,
  .tour-page-main .tour-description p,
  .tour-page-main .tour-details p {
    font-size: 18px;
  }

  .tour-page-main .tour-description h2 {
    font-size: 24px;
  }
}
