/* @import 'https://a.storyblok.com/f/212319/x/e6ccda03b8/blueprint-blank.css'; */
/* ./app/globals.css or ./styles/globals.css */
@import "tailwindcss";

.main-navigation .header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

.main-navigation .header-wrapper nav a {
  margin: 0 96px;
}

.main-navigation .header-wrapper nav a:hover {
  color: #fee685;
}

.main-navigation .header-wrapper nav a:last-child {
  margin: 0;
}

.slider-wrapper .custom-swiper-slider .swiper-wrapper .swiper-slide p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 8px;
  color: #2B2B22;
}

.tour-page-main .tour-body-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tour-page-main .tour-body-main .image-container,
.tour-page-main .tour-body-main .content-container {
  width: 50%;
  padding: 16px
}

.tour-page-main .tour-body-main .content-container h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 16px;
}

.tour-page-main .tour-body-main .content-container ul {
  list-style: disc;
  padding-left: 20px;
}

.tour-page-main .tour-body-main .content-container ul li p {
  font-size: 20px;
  margin-bottom: 16px;
}

@media (max-width: 1440px) {
  .tour-page-main .tour-body-main .content-container h2 {
    font-size: 28px;
  }

  .tour-page-main .tour-body-main .content-container ul li p {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .tour-page-main .tour-body-main {
    flex-direction: column;
  }

  .tour-page-main .tour-body-main .image-container,
  .tour-page-main .tour-body-main .content-container {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .main-navigation .header-wrapper nav a {
    margin: 0 32px;
  }
}