@import "tailwindcss";

html {
  font-family: var(--font-amarante);
}

.slider-wrapper .custom-swiper-slider .swiper-button-prev,
.slider-wrapper .custom-swiper-slider .swiper-button-next {
  background: #0C0A09;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  top: 47%;
}

.slider-wrapper .custom-swiper-slider .swiper-button-prev:hover,
.slider-wrapper .custom-swiper-slider .swiper-button-next:hover {
  background: #881337;
}

.slider-wrapper .custom-swiper-slider .swiper-button-prev::after {
  content: url(../assets/slide-prev-48.png);
  height: 48px;
  width: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-wrapper .custom-swiper-slider .swiper-button-next::after {
  content: url(../assets/slide-next-48.png);
  height: 48px;
  width: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-wrapper .custom-swiper-slider .swiper-wrapper .swiper-slide p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 8px;
  color: #2B2B22;
}

.tour-page-main .tour-body-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tour-page-main .tour-body-main .image-container,
.tour-page-main .tour-body-main .content-container {
  width: 50%;
  padding: 16px
}

.tour-page-main .tour-body-main .content-container h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 16px;
}

.tour-page-main .tour-body-main .content-container ul {
  list-style: disc;
  padding-left: 20px;
}

.tour-page-main .tour-body-main .content-container ul li p {
  font-size: 20px;
  margin-bottom: 16px;
}

@media (max-width: 1440px) {
  .tour-page-main .tour-body-main .content-container h2 {
    font-size: 28px;
  }

  .tour-page-main .tour-body-main .content-container ul li p {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .tour-page-main .tour-body-main {
    flex-direction: column;
  }

  .tour-page-main .tour-body-main .image-container,
  .tour-page-main .tour-body-main .content-container {
    width: 100%;
  }
}
